body {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 14px;
}

th,
td {
    padding-right: 14px;
}

h1 {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    font-weight: bold;
    text-align: left;
}


td:nth-of-type(1),
td:nth-of-type(2) {
    text-align: right;
}



.container {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.child {
    min-width: 49%;
    flex-shrink: 0;
}